/*		*{
 margin : 0;
 padding: 0;
 box-sizing: border-box;
}*/

body {
    margin: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container{
	display: flex;
	height: 100vh;
}


.sidebar{
    width: 200px;
    padding: 10px;
}

.sidebar a{
	display: block;
	margin-bottom: 10px;
	text-decoration: none;
	color: red;
}

.sidebar a:hover{
	color: blue;
}


.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip::after {
  content: attr(data-tip);  /* 각 링크에 data-tip 값 출력 */
  position: absolute;
  top: 125%;  /* 링크 위에 표시 */
  left: 50%;
  transform: translateX(-50%);
  background-color: blue;
  color: white;
  padding: 4px 8px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  font-size: 12px;
  z-index: 10;
}


.tooltip:hover::after {
  opacity: 1;
}



.content{
	flex: 1;
	overflow-y: hidden;
}

.content iframe{
	width: 100%;
	height: 100vh;
}


h1{
text-align: center;
margin-top: 40px;
font-weight: normal;
font-style: italic;
color: red;
}


table{
	border: 0;
	/*display: block;
	margin: auto;*/
	width: 200px;
}

tr{
	line-height: 200%;
}
td{
	padding: 20px;
	text-align: center;
	font-size: 20px;	
}

.sidebar{
	display: block;
}

.sidebar-mobile{
	display: none;
}



@media screen and (max-width: 600px) {
body {
    margin: 20px;
    overflow-x: auto;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.container { 
	height: auto; 
}

h1{
text-align: center;
margin-top: 20px;
font-weight: normal;
font-style: italic;
color: red;
font-size: 16px;
}

.sidebar {
	display: none;
}

.content {
	display: none;
}

.sidebar-mobile {
	width: 100%;
	display: block;
	display: flex;
  justify-content: center; 
  align-items: center; 
}



a{
	text-decoration: none;
	color: red;
}




tr{
	line-height: 150%;
}
td{
	padding: 10px;
	text-align: center;
	font-size: 8pt;	
	border: 1px solid red;
	width: 100px;
}


}
